# ================== GENERAL ==================
.DS_Store
*.log
*.pyc
*.swp

# ================== IDE ==================
.idea/
*.iml
.vscode/

# ================== FLUTTER ==================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Generated
**/doc/api/
**/ios/Flutter/.last_build_id

# ================== ANDROID ==================
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
captures/
.gradle/

# Build outputs
android/app/debug/
android/app/profile/
android/app/release/

# ================== IOS ==================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/
ios/ServiceDefinitions.json

# Xcode user data (VERY IMPORTANT)
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
*.xcuserstate

# ================== MACOS ==================
macos/Pods/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# ================== SYMBOLS ==================
app.*.symbols
app.*.map.json